<div>
    <a class="singerLink" href="{{homepage}}" target="_blank">{{capitalizeFirst
            first_name
        }}
        {{capitalizeFirst last_name}}
    </a>

    <span>
        {{age}}
    </span>
    <a class="singerLink" href="/signatures/{{city}}">{{capitalizeFirst city}}
    </a>
</div>