{{> header }}
<main>
   
    <h1>{{text}}</h1>

    {{#signature}}
    <img src="{{signature}} " alt="{{first_name}} {{last_name}} ">
    {{/signature}}
    
  <a href="/signatures"><p>See all {{headcount}} signers</p></a>
    
    
</main>
{{> footer }}