{{> header }}
<main>
    
    <h2>{{signature.first_name}} {{signature.last_name}} {{text}}</h2>
    <img class="secondImg" src="/assets/img/pizzaclub.jpg" alt="Pizza club">

    {{#signature}}
    <img class="showsig" src="{{signature}}" alt="{{signature.first_name}} {{signature.last_name}}">
    {{/signature}}
    
    <a class="signersLink" href="/signatures"><p>See all {{headcount}} signers</p></a>
    
    
</main>
{{> footer }}