<form action="/profile/edit" method="POST">

    <div class="formFirst">
        <label for="first">First Name</label>
        <input
            type="text"
            name="first_name"
            placeholder="First name"
            value="{{first_name}}"
            autocomplete="name"
            required
        />
    </div>

    <div class="formLast">
        <label for="last">Last Name</label>
        <input
            type="text"
            name="last_name"
            placeholder="Last name"
            value="{{last_name}}"
            autocomplete="family-name"
            required
        />
    </div>

    <div class="formEmail">
        <label for="email">E-Mail</label>
        <input
            type="email"
            name="email"
            placeholder="E-M@il"
            value="{{email}}"
            autocomplete="email"
            required
        />
    </div>

    <div class="formFirst">
        <label for="age">Age</label>
        <input
            type="number"
            name="age"
            placeholder="Age"
            value="{{age}}"
            autocomplete="age"
        />
    </div>

    <div class="formLast">
        <label for="city">City</label>
        <input
            type="text"
            name="city"
            placeholder="City"
            value="{{city}}"
            autocomplete="home"
        />
    </div>

    <div class="formEmail">
        <label for="hompage">Homepage</label>
        <input
            type="url"
            name="homepage"
            placeholder="http://www.site.com"
            value="{{homepage}}"
            autocomplete="url"
        />
    </div>

    <div id="message">
        <p>Password must contain the following:</p>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>

    <div class="formPassword">
        <label for="password">Password</label>
        <input
            id="psw"
            type="password"
            name="password"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            placeholder="Password"
            value="{{password}}"
            autocomplete="new-password"
            required
        />
    </div>

    <div class="formBtn">
        <button class="btn" id="submit" type="submit">Update</button>
    </div>

</form>